*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    --bg-dark: rgb(0, 67, 88);
    --bg-dark-2: rgb(0, 37, 48);
    --bg-light: #9ff2ff;
    --bg-accent: #ff009e;
    --bg-accent-2: #211622;
    --text:rgb(240, 240, 240);
    --text-shadow: white;
    --text-shadow-2: black;
}

body {
    margin: 0;
    padding-top: 5rem;
    background-image: url('../asset/bg-main-xl.png');
    background-size: 55%;
    background-position: top 13% right 10%;
    background-repeat: no-repeat;
    background-color: #0f0b12;
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Press Start 2P', cursive; */
    color: rgb(209, 216, 218);
}

body::-webkit-scrollbar {
    display: none;   /* Hide scrollbar for IE, Edge and Firefox */
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.main-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 16px;
    background: linear-gradient(180deg, var(--bg-dark) 0%, transparent 100%);
}

.main-footer {
    padding: 60px 0;
    background: linear-gradient(0deg, var(--bg-dark) 0%, transparent 100%);
}

.main-header > * {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    opacity: 0.9;
}

.main-header__brand:hover {
    opacity: 1;
    transform: scale(1.1);
}

.main-header__brand,
.main-header__brand:hover {
    transition: all 0.2s ease-in-out;
}

.main-nav {
    width: calc(100% - 80px);
}

.main-nav__items {
    margin: 2px 0px 14px;
    font-size: 20px;
    text-align: right;
}

.main-footer__items {
    font-size: 14px;
    text-align: center;
}

.main-nav__item,
.main-footer__item {
    display: inline-block;
    margin: 0 16px;
    text-shadow: 0px 0px 0px ;
}

.main-nav__item:hover {
    text-shadow: 0px 0px 20px var(--text-shadow);
    transform: translateX(-3px);
}

.main-nav__item,
.main-nav__item:hover {
    transition: text-shadow 0.05s ease-in-out, transform 0.1s ease-in-out;
}

.main-nav__item a,
.main-footer__item a {
    text-decoration: none;
    color: var(--text);
}

.main-nav__item--cta {
    padding: 8px 25px;
    background: radial-gradient(var(--bg-accent), var(--bg-accent-2));
    border-radius: 10% 90% 10% 90% / 100% 0% 100% 0%;
    text-shadow: 0px 0px 4px var(--text-shadow-2);
}

.main-nav__item--cta:hover {
    margin-left: 30px;
    padding: 8px 35px;
    border-radius: 16% 84% 16% 84% / 100% 0% 100% 0%;
    text-shadow: 0px 0px 4px var(--text-shadow-2), 0px 0px 10px var(--text-shadow);
    cursor: pointer;
    transform: none;
}

.main-nav__item--cta,
.main-nav__item--cta:hover {
    transition: all 0.1s ease-in-out;
}

h1, h2 {
    font-weight: initial;
    font-family: 'Fredericka the Great', cursive;
    color: var(--bg-light);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

article {
    position: relative;
    margin: 4rem 16rem;
    padding: 2rem;
    background: linear-gradient(45deg, var(--bg-dark) 0%, var(--bg-dark-2) 100%);
}

article::before {
    content: '';
    display: block;
	position: absolute;
    z-index: -1;
	top: -6px;
	left: -6px;
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	background: var(--bg-light);
    filter: blur(3px)
}